// White
$white: #ffffff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

// Black
$black: #181818;
$black-soft: #222222;
$black-mute: #282828;

// Green
$green-100: #b4e4cd;
$green-200: #8fd5c2;
$green-300: #008351;

// Pastel
$soft-red:        #F97664;
$soft-purple:     #C99AFE;
$soft-blue:       #4A9EFF;
$soft-green:      #03C29A;
$soft-yellow:     #FFD056;
$soft-bege:       #FDC699;
$soft-gray-100:   #D8D9D9;
$soft-gray-200:   #ABA9B9;
$soft-gray-300:   #7E7D8B;
$soft-gray-400:   #686774;
$soft-gray-500:   #292C34;
$soft-dark:       #1B1F24;
$soft-very-dark:  #131418;